body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    padding: 0;
}

li {
    clear: both;
    list-style-type: none;
    padding: 5px 5px;
    border-style: solid;
    border-color: grey;
    border-width: 1px 1px 0 1px;
}

li:last-child {
    border-width: 1px 1px 1px 1px;
}

.todoapp {
    width: 550px;
    margin: 0 auto;
}

label > input {
    margin-right: 15px;
}

.new-todo {
    width: 505px;
    float: right;
}

.destroy {
    float: right;
    color: red;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.selection {
    text-align: center;
}

.selection button {
    border: none;
    background-color: transparent;
    margin: 0 5px;
}

.selection button.active {
    border: 1px grey solid;
}